/* This is here to give everything a red border, just to make it easier to see while developing. */
* {
  box-sizing: border-box;

}


/* You can turn it off if you want. (delete or comment it out) */

/* Write your rules below */

.button {
	color: white;
	text-align: center;
	background-color: lightblue;
	border-radius: 10px;
	display: block;
	padding: 5px;
	text-decoration: none;
	box-shadow: 1px 1px 1px grey;
	}

a { color: white;}